/app/src/config.js
/app/src/jspm_packages
/npm-debug.log
.gradle
build/
jsp_packages/
node_modules/
jspm_packages/
typings/
.sass-cache/

/bundle
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# e2e
/e2e/*.js
/e2e/*.map

# Cache of project
.gradletasknamecache
/tcrs.iml
/.idea
/src/main/main.iml
/gradle/
