/app/src/config.js
/app/src/jspm_packages
/npm-debug.log
.gradle
build/
gradle/
jsp_packages/
node_modules/
jspm_packages/
typings/
.sass-cache/

/bundle
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
/tcrs.iml
/.idea

**/*.js
**/*.js.map
**/*.css.map
**/*.css
