<div class="form">
  <mat-card>
    <mat-card-header>
      Login
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
        <div fxLayout="column">
          <mat-input-container>
            <input matInput type="text" formControlName="email" placeholder="EMail">
            <mat-error *ngIf="email.hasError('email')">Invalid EMail format</mat-error>
          </mat-input-container>
          <mat-input-container>
            <input matInput type="password" formControlName="password" placeholder="Password">
            <mat-error *ngIf="password.hasError('required')">This field is required</mat-error>
          </mat-input-container>
          <button type="submit" mat-raised-button>OK</button>
        </div>
      </form>

      <div class="reset-password">
        <a routerLink="reset-password">Passwort vergessen?</a>
      </div>

      <hr>

      <div class="social-buttons">
        <a mat-raised-button (click)="loginGoogle()">Login with Google</a>
        <a mat-raised-button (click)="loginFacebook()">Login with Facebook</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
