<div class="form">
  <mat-card [hidden]="!hideRemoveInfo">
    <mat-card-header>Court Reservation</mat-card-header>
    <mat-card-content>
      <h1>Edit Zone</h1>
      <a mat-raised-button (click)="remove()">Remove</a>
    </mat-card-content>
  </mat-card>
  <mat-card [hidden]="hideRemoveInfo">
    <mat-card-header>Reservation Remove</mat-card-header>
    <mat-card-content>
      <h1 [hidden]="!hideRemovedInfo">Removing</h1>
      <h1 [hidden]="hideRemovedInfo">Removed</h1>
    </mat-card-content>
  </mat-card>
</div>
