<div class="form">
  <md-card [hidden]="!hideRemoveInfo">
    <md-card-header>Court Reservation</md-card-header>
    <md-card-content>
      <h1>Edit Zone</h1>
      <a md-raised-button (click)="remove()">Remove</a>
    </md-card-content>
  </md-card>
  <md-card [hidden]="hideRemoveInfo">
    <md-card-header>Reservation Remove</md-card-header>
    <md-card-content>
      <h1 [hidden]="!hideRemovedInfo">Removing</h1>
      <h1 [hidden]="hideRemovedInfo">Removed</h1>
    </md-card-content>
  </md-card>
</div>
