<div class="form">
  <mat-card>
    <mat-card-header>Court Reservation</mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div fxLayout="column">
          <div>{{ startDateTimePretty }}</div>
          <mat-select [(formControl)]="hours">
            <mat-option *ngFor="let hour of hourElements" [value]="hour" >Hours: {{ hour }}</mat-option>
          </mat-select>

          <mat-select [(formControl)]="court">
            <mat-option *ngFor="let court of courts" [value]="court" >Court: {{ court }}</mat-option>
          </mat-select>
          <mat-checkbox formControlName="confirmation">I confirm that the information provided is correct.
          </mat-checkbox>
          <p class="error-checkbox" [hidden]="!confirmation.hasError('required') || !showConfirmationError">Confirmation must be checked</p>
          <button type="submit" mat-raised-button>OK</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
