<md-toolbar color="primary">
  <span>TCRS</span>
  <span class="fill-remaining-space"></span>
  <span>Tennis Court Reservation System</span>
</md-toolbar>

<button md-fab>
  <md-icon class="md-24">add</md-icon>
</button>


<div class="app-content">
  <h1>geht eh</h1>

  <md-grid-list cols="7" [style.background]="'royalblue'" rowHeight="50px">
    <md-grid-tile *ngFor="let day of days">
      {{ day.name }}
    </md-grid-tile>

    <md-grid-tile *ngFor="let cell of cells" [style.background]="'white'">
      <button md-raised-button>1</button>
      <button md-raised-button>2</button>
      <button md-raised-button>3</button>
    </md-grid-tile>
  </md-grid-list>

</div>


