/* You can add global styles to this file, and also import other style files */

body
  margin: 0

.clickable
  cursor: pointer

.link:hover
  text-decoration: underline
  cursor: pointer

[hidden]
  display: none !important

div.form
  max-width: 400px
  margin: 0 auto
  md-card-header
    text-align: center
    font-size: 1.5em
    font-weight: bold
    padding-bottom: 1em

@import '~@angular/material/prebuilt-themes/indigo-pink.css'
