<div class="wrapper" fxLayout="row">
  <div class="left" fxFlex="100px"></div>
  <div class="content" fxFlex>
    <input [matDatepicker]="startDatePicker" value="{{ startDay }}">
    <mat-datepicker-toggle [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker (selectedChanged)="updateView($event)"></mat-datepicker>
  </div>
</div>
<div class="wrapper" fxLayout="row">
  <div class="left" fxFlex="100px"></div>
  <div class="content" fxFlex>

  </div>
</div>
<div class="wrapper" fxLayout="row">
  <div class="left" fxFlex="20px"></div>
  <div class="content" fxFlex>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="top-first cell" fxFlex="auto">&nbsp;</div>
      <div *ngFor="let day of days" class="cell" fxFlex="13">
        <div>{{day.name}}</div>
        <div fxLayout="row">
        </div>
      </div>
    </div>
    <div *ngFor="let hour of hours" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="hour cell" fxFlex="auto">{{hour}}:00 - {{hour + 1}}:00</div>
      <div *ngFor="let day of days" fxFlex="13" class="places cell" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" fxFlex (click)="setReservation(day.date, hour)">&nbsp;</a>
      </div>
    </div>
  </div>
  <div class="right" fxFlex="20px"></div>
</div>
